<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>grid </title>
        <link rel="stylesheet" href="vender/bootstrap/css/bootstrap.css">

        <script src="vender/angular/angular.min.js"></script>
        <script src="vender/aggrid/dist/ag-grid.js?ignore=notused28"></script>
        <script src="index.js"></script>

    </head>

<body class="container" ng-app="app" ng-controller="gridCtrl as vm">
    <p>{{vm.title}}</p>

    <div>
        <a href="https://ag-grid.com/" target="_blank">AG Grid</a><br />
        <a href="/api/data" target="_blank">show the data</a><br />
        <a href="/api/metadata" target="_blank">show the metadata</a><br />

        <a href="https://hub.docker.com/r/datalift/dailyshow.datalift/" target="_blank">datalift dailyshow</a><br />
        <a href="https://hub.docker.com/r/datalift/starbucks.datalift/" target="_blank">datalift starbucks</a><br />
        <a href="https://hub.docker.com/r/datalift/flowaustralia.datalift/" target="_blank">datalift flowaustralia</a><br />

        <a href="https://github.com/Microsoft/Docker.DotNet" target="_blank">docker API</a><br />

        <style>
            li {
                list-style: none;
                padding-left: 5px;
            }

            ul {
                margin-left: 1px;
                padding-left: 1px;
            }
        </style>
    </div>


    <div class="row">
        <div class="col-lg-2">
            <button ng-click="vm.doRefresh()">Refresh</button>
            <div ng-repeat="item in vm.metadata">
                <div>
                    <button class="btn btn-block" ng-class="{'btn-info': !item.hasSelectedItem(), 'btn-success': item.hasSelectedItem()}" ng-click="vm.doToggleShowDetails(item)">
                        {{item.title}} <span ng-show="item.hasSelectedItem()"><br/>{{item.selectedValue()}} </span> 
                    </button>
                    <ul ng-show="item.showDetails">
                        <li ng-repeat="feqItem in item.frequentItemsList" ng-click="vm.doToggleIsSelected(feqItem)">
                            <span ng-show="feqItem.isSelected" aria-hidden="true">&times;</span>
                            <span class="nav-pills">{{feqItem.name}} - ({{feqItem.value}})</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-10" style="height:600px">
            <div ag-grid="vm.gridOptions" class="ag-fresh" style="height: 100%;">
            </div>
        </div>
    </div>



                    <!--<script src="vender/bootstrap/js/bootstrap.js"></script>-->

</body>

</html>
